.button {
  padding: 0.5rem;
  border: 1px solid $color-additional;
  border-radius: 5px;

  background-color: $button-color-additional;
  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  color: $color-main;
  text-decoration: none;
  line-height: 140%;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from($color-additional), to($color-main));
  background: gradient(top, $color-additional, $color-main);
  box-shadow: inset 1px 1px 0 $color-additional;

  color: $button-color-additional;
}

.button-round {
  width: 180px;
  height: 42px;
  background: #FFFFFF;
  border: 2px solid #FF7979;
  border-radius: 20px;

  &:hover {
    background: #48409E;
  }
}
