.input {
  height: 2.5rem;
  border: 1px solid $color-additional;
  border-radius: 5px;

  background-color: $color-additional;

  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  color: $text-color-additional;
}

.input::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: $text-color-additional;
}

.input:focus {
  border: 1px solid $text-color-additional;

  background-color: $color-additional;

  outline: none;
}

.new-board-input {
  background-color: $color-main;
}

.new-board-input:focus {
  background-color: $color-main;

  color: $text-color;
}
