#page_container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  gap: 50px;

  width: 100%;
}

.main_home {
  position: relative;
  display: flex;
  flex: 2 0 auto;

  padding: 0 2%;
}

.main-board {
  position: relative;
  width: 100%;
  padding: 1rem;
}

.main-info {
  width: 90%;
  padding: 2rem;

  //background: url(../assets/img/bg_start.jpg) no-repeat;
  //background-size: cover;
}

.main-info_header {
  margin-top: 0;

  font-size: 2.5rem;
}
