.aside {
  display: flex;
  flex-direction: column;
  float: left;

  border-right: 2px solid $color-additional;

  color: $text-color-additional;
}

.aside-nav {
  position: relative;

  margin: 0;
  padding: 0 5rem 2rem 0;
}

.aside-nav:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;

  width: 95%;
  height: 0.15rem;
  margin-left: -30%;

  background: $color-additional;
}

.aside-item {
  display: flex;

  margin: 2rem;
  padding-left: 4rem;

  font-size: 2rem;
  color: $text-color-additional;
}

.aside-home {
  background: url(../assets/icons/home.svg) no-repeat left center;
}

.aside-messages {
  background: url(../assets/icons/messages.svg) no-repeat left center;
}

.aside-tasks {
  background: url(../assets/icons/tasks.svg) no-repeat left center;
}

.aside-members {
  background: url(../assets/icons/members.svg) no-repeat left center;
}

.aside-settings {
  background: url(../assets/icons/settings.svg) no-repeat left center;
}

.aside-projects {
  position: relative;
}

.projects-container {
  overflow-y: scroll;

  max-height: 21rem;
}

.projects-container::-webkit-scrollbar {
  width: 1rem;
}

.projects-container::-webkit-scrollbar-track {
  border-radius: 0.5rem;

  background-color: $color-main;
}

.projects-container::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;

  background-color: #c2affb;
}

.aside-project {
  background: url(../assets/icons/circle.svg) no-repeat left center;
  margin: 0.5rem 2rem 1.5rem;

  cursor: pointer;
}

.aside-projects_header {
  margin: 1rem 1rem 1rem 2.5rem;

  font-size: 1.8rem;
  font-weight: 400;
}

.plus-board {
  position: absolute;
  right: 1rem;
  top: 1.2rem;

  width: 2rem;
  height: 2rem;

  background: url(../assets/icons/plus_violet.svg) no-repeat center center;
  border: none;
  padding: 0;

  color: $button-color-light;

  cursor: pointer;
}

.plus-board:hover {
  transform: scale(1.1);
}
