#footer_container {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;

  width: 100%;

  background: $color-additional;
}

.footer {
  display: flex;
  justify-content: center;

  width: 100%;

  padding: 0 2%;

  font-size: 60%;
  align-items: center;
  color: $text-color-additional;
}

.container__footer {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 0;
  margin: 0;

  align-items: center;
  list-style: none;
}

.github {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.github-link {
  display: flex;

  margin-right: 1rem;

  font-size: 1.3vw;
  text-decoration: none;
  color: $text-color-additional;
}

.github-link:hover {
  color: $button-color-additional;
}

.github-img {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.5rem 0.2rem;
}

.year {
  font-size: 1.3vw;
}

.logo-img {
  width: 6vw;
  object-fit: contain;
}
