#header_container {
  flex: 0 0 auto;

  width: 100%;

  background: $color-main;
  padding: 0 2%;
  border-bottom: 2px solid $color-additional;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 22.3rem;

  background: url(../assets/icons/cubes.ico) no-repeat left center;
  border-right: 2px solid $color-additional;
}

.logo-header {
  padding-left: 4rem;

  font-size: 2rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 2 0 auto;

  padding-left: 5rem;
}

.search-input {
  font-size: 1.5rem;
  color: $text-color-additional;
}

.sign {
  display: flex;
  align-items: center;
}

.sign-in {
  margin-right: 1rem;

  font-size: 1.5rem;
  color: $text-color-additional;
}

.sign-in:hover {
  color: $button-color-additional;
}

.hidden {
  display: none;
}

.user-active {
  display: flex;
  align-items: center;

  padding-right: 3rem;

  background: url(../assets/icons/arrow-down.svg) no-repeat right center;
  background-size: 8%;

  cursor: pointer;
}

.user-name {
  margin: 0 1rem 0 0;

  font-size: 1.5rem;
  white-space: nowrap;
}
