.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  width: 100%;
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background-color: #f7f5f5;
  border-radius: 0.5rem;
  padding: 2rem;
  color: $text-color-additional;
  transition: box-shadow 0.3s ease;
  width: 100%;
  background-color: #f7f5f5;
  border-radius: 0.5rem;
  padding: 2rem;
  color: $text-color-additional;
  transition: box-shadow 0.3s ease;
  
}

.project-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark-theme .project-card {
  background-color: $text-color-additional;

  color: $color-additional;
}

.project-title {
  margin: 0;

  font-size: 2rem;
  text-align: left;
  color: $text-color;
}
.project-title__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}
.project-stats-item {
  font-size: 1.6rem;
}

.project-stats-total {
  text-decoration: underline;
}
