.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100%;
  width: 90%;
  padding: 0;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background: #ffffff;
  border-radius: 16px;
}

.task-wrapper {
  width: 90%;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-priority {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.3rem;
  transition: none;
  font-size: 0.9rem;

  &__high {
    color: #FF7979;
  }
  &__medium {
    color: #FFBA53;
  }
  &__low {
    color: #2BA700;
  }
}

