.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100%;
  width: 90%;
  padding: 0;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background: #ffffff;
  border-radius: 16px;
}

.task-wrapper {
  width: 90%;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
