body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  max-width: $max-width;
  min-height: 100vh;

  background-color: $color-main;
  margin: 0 auto;
}

.dark-theme {
  background-color: $text-color;

  color: $color-main;
}

.wrapper {
  max-width: $max-width;
}
